#page-wrapper{
	width:80%;
	margin:auto;
	padding:2%;
	overflow:hidden;
	background-color: #ddd;
}
#page-wrapper h1{
	font-size: 64px;
	font-family: Impact;
}
#search-wrapper{
	margin:auto;
	text-align:center;
}
#search-wrapper #search-bar, #search-wrapper #search-button, #search-wrapper #search-category{
	display:block;
	width:20%;
	margin:1% auto;
}
#search-wrapper #search-bar{
	font-size:16px;
}
#search-wrapper #search-button{
	color:white;
	font-size: 20px;
	padding:1% 0%;
	background-color: red;
	border: 3px solid #ccc;
	border-radius: 15px;
	cursor: pointer;
}
#poster-wrapper{
	overflow: hidden;
}
#poster-wrapper #backdrop{
	width:60%;
	margin:auto;
}
#poster-wrapper #backdrop img{
	width: 100%;
}
h2{
	font-family: impact;
	font-size: 48px;
	margin-bottom:0%;
	margin-left: 1%;
}
.poster{
	width:23%;
	float:left;
	margin:2% 1%;
}
.poster img{
	width:100%;
	cursor: pointer;
}
.actorPageVideoPic{
	width: 31.333333%;
	margin:1%;
	display:inline;
	float:left;
	text-align: center;
	font-family: Impact;
}